{% extends 'admin_base.html' %}
{% load static %}

{% block content %}
<style>
     #emp_button{
        color: white;
        background-color: rgb(91, 91, 239);
        text-align: center;
        margin-left: 50px;
    }
    #employeesignuppic{
        margin-top: 100px;
        margin-left: 50px;
    }
    #employeesignuptitle{
        margin-top: 100px;
        margin-left: 50px; 
    }
    #employeesignupform{
        margin-left: 50px;
    }

</style>

<div class="container" style="margin-top: 0px;">
    <div class="row">
        <div class="col-6">
            <div id="employeesignuptitle">
                <h1 style="text-align: center; ">Add Employer</h1>
            </div>
            <div id="employeesignupform">
               <form method="POST" action="{% url 'website:add_employer' %}">
                {% csrf_token %}
                <div class="container" style="margin-left: 0px; margin-top: 20px;">
                    <div class="row m-2" >
                        <div class="col-6">
                            <b style="color: black;">First Name</b>
                        </div>
                        <div class="col-4">
                            {{ userform.first_name }}
            
                        </div>
                    </div>
            
                    <div class="row m-2">
                        <div class="col-6">
                            <b style="color: black;">Last name</b>
                        </div>
                        <div class="col-4">
                            {{ userform.last_name }}
            
                        </div>
                    </div>
            
                    <div class="row m-2">
                        <div class="col-6">
                            <b style="color: black;">Username</b>
                        </div>
                        <div class="col-4">
                            {{ userform.username }}
                        </div>
                    </div>
            
                    <div class="row m-2">
                        <div class="col-6">
                            <b style="color: black;">Contact No.</b>
                        </div>
                        <div class="col-4">
                            {{ employerform.phone_number }}
                        </div>
                    </div>
            
                    <div class="row m-2">
                        <div class="col-6">
                            <b style="color: black;">Email Address</b>
                        </div>
                        <div class="col-4">
                            {{ userform.email }}
            
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-6">
                            <b style="color: black;">Address</b>
                        </div>
                        <div class="col-4">
                            {{ employerform.Address }}
            
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-6">
                            <b style="color: black;">Company_name</b>
                        </div>
                        <div class="col-4">
                            {{ employerform.Company_name }}
            
                        </div>
                    </div>
                    
                    <div class="row m-2">
                        <div class="col-6">
                            <b style="color: black;">Password</b>
                        </div>
                        <div class="col-4">
                            {{ userform.password }}
            
                        </div>
                    </div>
                   
                    
                    <div class="row m-2">
                        <div class="col-4">
                            <div class="container-fluid" id="ttab4" style="padding-top: 15px;">
                                <h2 class="cctext" style="font-size: 15px;">
                                    <button type="submit" id="emp_button"><b>SUBMIT</b> </button> 
                                </h2>
                            </div>
                        </div>
                        <div class="col-4">
                           
                        </div>              
                    </div>
                </div>   
               </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}