{% extends 'navbar.html' %}
{% load static %}

{% block content %}
  <main id="main">

    <!-- ======= About Us 1st Section ======= -->
    <section id="about-us" class="about-us" style="margin-bottom: 30px; margin-top: 30px;">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2 style="text-align: center; color: rgb(201, 53, 107);">FeWork</h2>
            <h3>An Online Portal for Providing Freelancer Work to Housewives</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              The project "Online Portal for Providing Freelancer Work to Housewives" encompasses several key areas to ensure its effectiveness and success in connecting housewives with freelance work opportunities. The scope of this project includes:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Platform Development</li>
              <li><i class="ri-check-double-line"></i> User (Housewives and Companies) Registration and Profiles</li>
              <li><i class="ri-check-double-line"></i> Job Posting and Browsing</li>
              <li><i class="ri-check-double-line"></i> Ratings and Reviews</li>
              <li><i class="ri-check-double-line"></i> Mobile Accessibility</li>
              <li><i class="ri-check-double-line"></i> Community Building</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us 1st Section -->

    <!-- ======= About Us 2nd Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              The primary objectives of the "Online Portal for Providing Freelancer Work to Housewives" project are outlined as follows:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Empower Housewives through Employment</li>
              <li><i class="ri-check-double-line"></i> Build a Supportive Community</li>
              <li><i class="ri-check-double-line"></i> Ensure Accessibility</li>
              <li><i class="ri-check-double-line"></i> Flexible Work Opportunities</li>
              <li><i class="ri-check-double-line"></i> Skill Utilization and Enhancement</li>
              <li><i class="ri-check-double-line"></i> Flexible Work Opportunities</li>
              <li><i class="ri-check-double-line"></i> Economic Independence</li>
            </ul>
          </div>
          <div class="col-lg-6" data-aos="fade-right">
            <img src="{% static "website/assets/img/about.jpg" %}"" alt=""  width="600" height="400">
          </div>
        </div>

      </div>
    </section><!-- End About Us 2nd Section -->

  </main><!-- End #main -->
  {% endblock content %}